body {

    background-image: url("../images/background2.jpg");
    background-position: center;
    background-size: auto;
}

/* #navBar {
    color: white;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    line-height: 80px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 0px;
    padding: 10px;
    background: grey;
    margin-top: 20px
} */